/*
* Css styles for our program
* */


button {

    background-color: #040404;
    color: #FFFFFF;
    border-radius:10px;
}

.start-button {
    border-radius:15px;
    color: #FFFFFF;
    background-color: #002d04;
    min-height: 140px;
    min-width: 30px;
	font-size: 46px;
	margin-top: 0px;
	margin-right:200px;
	margin-bottom:200px;
	margin-left:200px;
	padding: 20px;
}

.tagsense-label {
    color: #002d04;
    font-size: 120px;
	font-weight: bold;
}

.default-background {
    background-color: #E6E6E6;
}
